<header>
  <!-- Add your header content here, e.g., logo, navigation links, etc. -->
  <nav>
    <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
    <a routerLink="/tasks/new" routerLinkActive="active">Create New Task</a>
<!--    <a routerLink="/auth" routerLinkActive="active">Authentication</a>-->
<!--    <a (click)="showTaskCreate()">Create New Task</a>-->
<!--    <span (click)="onTestClick()">-->
<!--      jkhgkjhg-->
<!--    </span>-->
    <!-- Add other navigation links as needed. -->
  </nav>
</header>
